{% extends 'base.html' %}

{% block content %}
<div class="card border-danger">
    <div class="card-header bg-danger text-white">
        <i class="bi bi-exclamation-triangle"></i> Confirmar Eliminación
    </div>

    <div class="card-body">
        <p>
            ¿Deseas eliminar la cita de
            <strong>{{ cita.paciente }}</strong>
            del día {{ cita.fecha }}?
        </p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash"></i> Eliminar
            </button>
            <a href="{% url 'listar' %}" class="btn btn-secondary">
                <i class="bi bi-x-circle"></i> Cancelar
            </a>
        </form>
    </div>
</div>
{% endblock %}
